<div  class="row">
  <div  class="col-lg-8 portlets">
    <div  class="widget">
      <div class="widget-header">
        <h2><i class="fa fa-user"></i> <strong>Admission</strong> Form</h2>

      </div>
      <div class="widget-content">
        <div class="row stacked">
          <div class="col-sm-12 portlets">

            <div class="widget">

              <div class="widget-content padding">
                <div id="basic-form">
                  <%= render 'students/form_student' %>
                </div>
              </div>
            </div>

          </div>


        </div>

      </div>
    </div>
  </div>
  <%= render 'layouts/right_side_student_count_class_wise_admin' %>
</div>
