<div class="row">
    <div class="widget">
      <div class="widget-content">
        <div class="col-sm-12 portlets">
        <h3 class="text-center padding-top"><b>
          <%= link_to @gallery.title, gallery_path(@gallery), :data => { :no_turbolink => true } %>
        </b></h3>

        <%= form_for [@gallery,@photo] do |f| %>
            <div class="form-group padding">
              <h4 class="text-left padding-top"><b>Add Photo Form</b></h4>
              <%= f.file_field :image, :class=>'btn btn-info btn-file' %>
              <!--<input type="file" name="attachment" class="btn btn-info btn-file" title="Search for a file to add">-->


            </div>

            <div style="margin-right:100%;" class="form-group">

              <%= f.submit 'Add More Photo', :class=>'btn btn-blue-3' %>
              <!--<button type="submit" class="btn btn-blue-3"><i class="fa fa-check"></i> Submit</button>-->
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
