<div class="topbar">
  <div class="topbar-left">
    <div class="logo">
      <h4>
        <%= link_to 'Char Bhoira High School', root_path, :target => '_blank' %>
      </h4>
    </div>
    <button class="button-menu-mobile open-left">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <!-- Button mobile view to collapse sidebar menu -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-collapse2">

        <ul class="nav navbar-nav navbar-right top-navbar">

          <li class="dropdown iconify hide-phone">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="label label-danger absolute">3</span></a>
            <ul class="dropdown-menu dropdown-message">
              <li class="dropdown-header notif-header"><i class="icon-mail-2"></i> New Messages</li>
              <li class="unread">
                <a href="#" class="clearfix">
                  <img src="images/2.jpg" class="xs-avatar ava-dropdown" alt="Avatar">
                  <strong>John Doe</strong><i class="pull-right msg-time">5 minutes ago</i><br />
                  <p>Duis autem vel eum iriure dolor in hendrerit ...</p>
                </a>
              </li>
              <li class="unread">
                <a href="#" class="clearfix">
                  <img src="images/1.jpg" class="xs-avatar ava-dropdown" alt="Avatar">
                  <strong>Sandra Kraken</strong><i class="pull-right msg-time">22 minutes ago</i><br />
                  <p>Duis autem vel eum iriure dolor in hendrerit ...</p>
                </a>
              </li>
              <li>
                <a href="#" class="clearfix">
                  <img src="images/3.jpg" class="xs-avatar ava-dropdown" alt="Avatar">
                  <strong>Zoey Lombardo</strong><i class="pull-right msg-time">41 minutes ago</i><br />
                  <p>Duis autem vel eum iriure dolor in hendrerit ...</p>
                </a>
              </li>
              <li class="dropdown-footer"><div class=""><a href="#" class="btn btn-sm btn-block btn-primary"><i class="fa fa-share"></i> See all messages</a></div></li>
            </ul>
          </li>
          <li class="dropdown topbar-profile">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="rounded-image topbar-profile-image"><img src="/images/user.jpg"></span><%= current_user.email %> <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Account Setting', edit_user_registration_path, :class => 'navbar-link',:data => { :no_turbolink => true } %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-link' do  %>
                <i class="fa fa-sign-out"></i> Logout
                <% end %>
              </li>
            </ul>
          </li>
          <li class="right-opener">
            <a href="javascript:;" class="open-right"></a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>