<section id="secondary">

  <aside class=" widget_categories vedio_right_side">
    <div class="first_vedio">
      <iframe width="854" height="510" src="https://www.youtube.com/embed/OGl_YNjE-P0" frameborder="0" allowfullscreen></iframe>
      <h4><a href="#">বিতর্কিত মন্তব্য করে মন্ত্রিত্ব ও দলীয় সদস্যপদ হারানো সাবেক ডাক </a></h4>
    </div>
    <li><i class="fa fa-video-camera"></i> <a href="#"> বিতর্কিত মন্তব্য করে মন্ত্রিত্ব ও দলীয় সদস্যপদ হারানো সাবেক ডাক</a></li>
    <li><i class="fa fa-video-camera"></i> <a href="#"> বিতর্কিত মন্তব্য করে মন্ত্রিত্ব ও দলীয় সদস্যপদ হারানো সাবেক ডাক</a></li>

  </aside>
  <aside class=" widget_categories notice_right_side">
    <h2><i class="fa fa-microphone"></i> Recent Notice</h2>
    <li><i class="fa fa-angle-right"></i> <a href="#"> বিতর্কিত মন্তব্য করে মন্ত্রিত্ব ও দলীয় সদস্যপদ হারানো সাবেক ডাক, </a></li>
    <li><i class="fa fa-angle-right"></i> <a href="#"> Placement & Alumni (OPA) Office of Placement & Alumni (OPA)</a></li>
    <li><i class="fa fa-angle-right"></i> <a href="#"> Office of Placement & Alumni (OPA)</a></li>
    <li><i class="fa fa-angle-right"></i> <a href="#"> বিতর্কিত মন্তব্য করে মন্ত্রিত্ব ও দলীয় সদস্যপদ হারানো সাবেক ডাক, </a></li>
    <li><i class="fa fa-angle-right"></i> <a href="#"> বিতর্কিত মন্তব্য করে মন্ত্রিত্ব ও দলীয় সদস্যপদ হারানো সাবেক ডাক, </a></li>

  </aside>
  <aside class=" widget_categories slider_right_side">
    <div class="portfolio-slider-container">
      <ul class="portfolio-slider">
        <li> <img src="/images/slider-st-1.jpg" alt="" title=""> </li>
        <li> <img src="/images/portfolio_detail2.jpg" alt="" title=""> </li>
        <li> <img src="/images/portfolio_detail3.jpg" alt="" title=""> </li>
        <li> <img src="/images/portfolio_detail4.jpg" alt="" title=""> </li>
      </ul>
    </div>

  </aside>
  <aside class=" widget_categories useful_link">
    <h2><i class="fa fa-microphone"></i> Usefull link</h2>
    <li><i class="fa fa-angle-right"></i> <a href="#"> বিতর্কিত মন্তব্য করে মন্ত্রিত্ব ও দলীয় সদস্যপদ হারানো সাবেক ডাক, </a></li>
    <li><i class="fa fa-angle-right"></i> <a href="#"> Placement & Alumni (OPA) Office of Placement & Alumni (OPA)</a></li>
    <li><i class="fa fa-angle-right"></i> <a href="#"> Office of Placement & Alumni (OPA)</a></li>
    <li><i class="fa fa-angle-right"></i> <a href="#"> বিতর্কিত মন্তব্য করে মন্ত্রিত্ব ও দলীয় সদস্যপদ হারানো সাবেক ডাক, </a></li>
    <li><i class="fa fa-angle-right"></i> <a href="#"> বিতর্কিত মন্তব্য করে মন্ত্রিত্ব ও দলীয় সদস্যপদ হারানো সাবেক ডাক, </a></li>

  </aside>
  <aside class=" widget_categories facebook_like">
    <img src="/images/like.jpg">
  </aside>


</section>