<div class="col-lg-4 portlets">
  <div class="widget lightblue-2">
    <div class="widget-header transparent">
      <h2><i class="fa fa-graduation-cap"></i><a href="#"> <b> Students </b></a></h2>

    </div>
    <div class="widget-content">
      <div id="website-statistic2" class="statistic-chart">

        <div class="col-sm-12 stacked">

          <div class="sales-report-data">
            <% if Level.all.any? %>
            <% Level.all.each do |level| %>
                    <span class="pull-left">Class <%= level.name %></span><span class="pull-right"><%= level.students.count %></span>
                    <div class="progress progress-xs">
                      <div style="width: 100%;" class="progress-bar bg-blue-1"></div>
                    </div>
                    <div class="clearfix"></div>
            <% end %>
            <% end %>
            <span class="pull-left">All Students</span><span class="pull-right"><%= Student.all.count if Student.all.any? %></span>
            <div class="progress progress-xs">
              <div style="width: 100%;" class="progress-bar bg-red-1"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div id="home-chart-2"></div>
      </div>
    </div>
  </div>
</div>