<header>
  <div class="container">
    <div class="logo">
      <a href="index.html" title="Kids Life"><img src="/images/logo.png" alt="Kids Life" title="Kids Life"></a>
    </div>
    <div class="dt-sc-one-half column first menu-topbar" >
      <li>
        <a href="admission.html"> <img style="border-radius:6px;"  src="/images/online-admission.gif"></a>
      </li>
      <li>
        <img src="/images/elibrary.png">
      </li>
      <li>
        <img src="/images/job_tracking.png">
      </li>
      <li>
        <img src="/images/results_button.gif">
      </li>
    </div>
    <div class="contact-details">
      <p class="mail">
        <span class="fa fa-envelope"></span>
        <a href="#">school113495@gmail.com</a>
        <span class="fa fa-lock"></span>
        <a href="#"> login</a>

      </p>
      <p class="phone-no">
        <span class="fa fa-phone"></span>
        <i>+8801714641332</i>

      </p>
    </div>
  </div>
  <!--menu-container starts-->
  <div id="menu-container">
    <div class="container">
      <!--nav starts-->
      <nav id="main-menu">
        <div class="dt-menu-toggle" id="dt-menu-toggle">Menu<span class="dt-menu-toggle-icon"></span></div>
        <ul id="menu-main-menu" class="menu">
          <li class="current_page_item menu-item-simple-parent menu-item-depth-0 red"> <a href="index.html"><i class="fa fa-home"></i> Home </a>

          </li>
          <li class="menu-item-simple-parent menu-item-depth-0 blue"><a href="#" title="">About CBHS</a>
            <ul class="sub-menu">
              <li><a href="about.html">About Us</a></li>
              <li><a href="about.html">FAQs for Parents</a></li>
            </ul>
            <a class="dt-menu-expand">+</a>
          </li>
          <li class="menu-item-simple-parent menu-item-depth-0 blue"><a href="#" title="">Students</a>
            <ul class="sub-menu">
              <li><a href="result.html">Exam Result</a></li>
              <li><a href="exam-routine.html">Exam routine </a>
              </li>
              <li><a href="class-routine.html">Class routine </a>
              </li>

            </ul>
            <a class="dt-menu-expand">+</a>
          </li>
          <li class="menu-item-simple-parent menu-item-depth-0 blue"><a href="portfolio-four-column.html" title="">Facilities</a>
            <ul class="sub-menu">
              <li><a href="activitise.html">Transportation</a></li>
              <li><a href="activitise.html">Smart Class</a>
              </li>
            </ul>

          </li>

          <li class="green"> <a href="notice.html"> News & Event </a> </li>
          <li class="menu-item-simple-parent menu-item-depth-0 blue"><a href="#" title="">Admission</a>
            <ul class="sub-menu">
              <li><a href="admission.html">Admission Information</a></li>
              <li><a href="admission.html">Admission Result</a>
              </li>
            </ul>
            <a class="dt-menu-expand">+</a>
          </li>
          <li class="menu-item-simple-parent menu-item-depth-0 blue"><a href="#" title="">Media Gallery</a>
            <ul class="sub-menu">
              <li><a href="gallery.html">Photo Gallery</a></li>
              <li><a href="gallery.html">Video Gallery</a>
              </li>
            </ul>
            <a class="dt-menu-expand">+</a>
          </li>

          <!--li class="menu-item-megamenu-parent megamenu-4-columns-group menu-item-depth-0 steelblue"> <a href="#" title=""> Pages </a>

              <div class="megamenu-child-container">
                  <ul class="sub-menu">
                      <li> <a href="#">Useful Shortcodes</a>
                          <ul class="sub-menu">
                              <li> <a href="shortcodes.html">Typography </a> </li>
                              <li><a href="buttons-lists.html" title="">Buttons &amp; Lists</a></li>
                              <li><a href="columns.html" title="">Columns</a></li>
                              <li><a href="fancy-boxes.html" title="">Fancy Boxes</a></li>
                              <li><a href="icon-boxes.html" title="">Icon Boxes</a></li>
                              <li><a href="pricing-tables.html" title="">Pricing Tables</a></li>
                              <li><a href="progressbars.html" title="">Progress Bars</a></li>
                              <li><a href="quotes.html" title="">Quotes</a></li>
                              <li><a href="tabs-toggles.html" title="">Tabs &amp; Toggles</a></li>
                          </ul>
                          <a class="dt-menu-expand">+</a>
                      </li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1 menu-item-with-widget-area">
                          <a href="#">Popular Products</a>
                          <div class="menu-item-widget-area-container">
                              <ul>
                                  <li class="widget widget_popular_products">
                                      <ul class="product_list_widget">
                                          <li>
                                              <a href="#" title="">
                                              <img src="/images/product_thumb1.jpg" alt="product"> Ellents Style Grade </a>
                                              <span class="amount">$20.00</span>
                                          </li>
                                          <li>
                                              <a href="#" title="">
                                              <img src="/images/product_thumb2.jpg" alt="product"> Ellents Style Grade </a>
                                              <span class="amount">$20.00</span>
                                          </li>
                                          <li>
                                              <a href="#" title="">
                                              <img src="/images/product_thumb3.jpg" alt="product"> Ellents Style Grade </a>
                                              <span class="amount">$20.00</span>
                                          </li>
                                      </ul>
                                  </li>
                              </ul>
                          </div>
                      </li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1 menu-item-with-widget-area  fill-two-columns">
                          <a href="#">Featured Blog</a>
                          <div class="menu-item-widget-area-container">
                              <ul>
                                  <li class="widget widget_recent_entries">
                                      <div class="entry-thumb">
                                          <a href="blog-detail.html"><img src="/images/mega_menu_blog_img1.jpg" alt="" title=""></a>
                                      </div>
                                      <div class="entry-body">
                                          <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit.</p>
                                      </div>
                                      <div class="entry-details">
                                          <div class="entry-title">
                                              <h5><a href="blog-detail.html"> Create your Works </a></h5>
                                          </div>
                                          <div class="entry-metadata">
                                              <p class="author"><a href="#"> By Admin </a></p>
                                              <span class=""> | </span>
                                              <p class="comments"><a href="#"><span class="fa fa-comment"></span></a></p>
                                              <p class="date"> 10 Aug </p>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="widget widget_recent_entries">
                                      <div class="entry-thumb">
                                          <a href="blog-detail.html"><img src="/images/mega_menu_blog_img2.jpg" alt="" title=""></a>
                                      </div>
                                      <div class="entry-body">
                                          <p>Minima ve nostrum exercita tionem ullam corporis suscipit laboriosam, nisi ut aliquid ex.</p>
                                      </div>
                                      <div class="entry-details">
                                          <div class="entry-title">
                                              <h5><a href="blog-detail.html"> Best of the Blogs </a></h5>
                                          </div>
                                          <div class="entry-metadata">
                                              <p class="author"><a href="#"> By Admin </a></p>
                                              <span class=""> | </span>
                                              <p class="comments"><a href="#"><span class="fa fa-comment"></span></a></p>
                                              <p class="date"> 10 Aug </p>
                                          </div>
                                      </div>
                                  </li>
                              </ul>

                          </div>
                      </li>
                  </ul>
              </div>
              <a class="dt-menu-expand">+</a>
          </li-->
          <li class="pink"><a href="contact.html" title="">Contact us</a></li>
        </ul>
      </nav>
      <!--nav ends-->

      <ul class="dt-sc-social-icons">
        <li><a href="#" title="Facebook" class="dt-sc-tooltip-top facebook"><span class="fa fa-facebook"></span></a></li>
        <li><a href="#" title="Youtube" class="dt-sc-tooltip-top youtube"><span class="fa fa-youtube"></span></a></li>
        <li><a href="#" title="Twitter" class="dt-sc-tooltip-top twitter"><span class="fa fa-twitter"></span></a></li>
        <li><a href="#" title="Google Plus" class="dt-sc-tooltip-top gplus"><span class="fa fa-google-plus"></span></a></li>
      </ul>
    </div>
  </div>
  <!--menu-container ends-->
</header>